@using Cimon.Data
@using Microsoft.AspNetCore.Components
@using System.Text.Encodings.Web
@using AngleSharp.Text
@using Cimon.Contracts
@using Cimon.Contracts.CI
@using Cimon.Data.BuildInformation
@using Cimon.Data.Common
@using Cimon.Users
@using Microsoft.Extensions.Options
@inject NavigationManager NavigationManager
@inject TooltipService TooltipService
@inject AppInitialStateAccessor AppInitialStateAccessor

<div class="build-info-item @GetClasses()">
    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5em">
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenLink Path="@Info.Url" Target="blank">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenText TextStyle="TextStyle.H4" Style="color: white">
                        @Info.Name @(string.IsNullOrWhiteSpace(Info.Number) ? string.Empty : Info.Number)
                    </RadzenText>
                </RadzenStack>
            </RadzenLink>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenText Visible="@(Info.Status != BuildStatus.Failed)" TextStyle="TextStyle.H6" Style="color: white">
                 @GetDuration()
                 @Info.StartDate?.ToString("HH:mm")
                 @if (Info.EndDate.HasValue) {
                     <p>-</p>
                     @Info.EndDate?.ToString("HH:mm")
                 }
             </RadzenText>
            @if (!string.IsNullOrWhiteSpace(Info.StatusText)) {
                <RadzenText TextStyle="TextStyle.H6" Style="color: white">|</RadzenText>
                <RadzenText MouseEnter="@(ShowStatusTooltip)" TextStyle="TextStyle.H6" Style="color: white" Text="@Info.StatusText.Strip(70)"></RadzenText>
            }
        </RadzenStack>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Normal">
        @if (Info.Status == BuildStatus.Failed) {
            <RadzenButton Visible="@Info.IsNotOk()" ButtonStyle="ButtonStyle.Warning" Size="ButtonSize.Small" Variant="Variant.Text" Click="Discuss">
                <RadzenIcon Icon="chat" Style="color: var(--rz-white)"/>
                <RadzenBadge BadgeStyle="BadgeStyle.Warning" IsPill="@true" Text="@Info.CommentsCount.ToString()" class="rz-ml-2"/>
            </RadzenButton>
            foreach (var committer in GetCommitters()) {
                var user = committer.User;
                <RadzenStack class="committer"
                             Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Right"
                             AlignItems="AlignItems.Center" Gap="0">
                    @{
                        var style = string.Empty;
                        var title = string.Empty;
                        @if (Info.FailureSuspect?.User.Name == user.Name) {
                            style = GetAvatarSuspectStyles();
                            title = "Suspected in build failure";
                        }
                    }
                    <div class="avatar" style="@style" title="@title">
                        <CimonAvatar UserName="@user.Name" Email="@user.Email?.ToLowerInvariant()"></CimonAvatar>
                        <p class="commits-count" title="Commits count">@committer.CommitsCount</p>
                    </div>
                    <RadzenText Text="@user.Name" Style="color: white"></RadzenText>
                </RadzenStack>
            }
        }
    </RadzenStack>
    
</div>
<style>
    .avatar {
        position: relative;
        border-radius: 32px;
    }
    .commits-count, .failure-author-confidence {
        color: white;
        position: absolute;
        width: 16px;
        text-align: center; 
        border-radius: 8px;
        line-height: 16px;
    }
    .commits-count {
       top: -4px;
       right: -10px;
       
       background-color: #e66060;
    }
    .status-tooltip{
        max-width: 400px;
        text-wrap: balance;
        line-break: anywhere;
    }
</style>

@code {

    record CommitterInfo(VcsUser User, int CommitsCount);

    [Parameter]
    public BuildInfo Info { get; set; } = null!;

    public AppClientType AppClientType { get; set; }

    protected override Task OnInitializedAsync() {
        AppClientType = AppInitialStateAccessor.State.ClientType;
        return base.OnInitializedAsync();
    }

    private string GetClasses() => Info.Status == BuildStatus.Failed ? "failed" : "";

    private void Discuss() {
        var isElectron = AppClientType == AppClientType.Electron;
        NavigationManager.NavigateTo($"/buildDiscussion/{Info.BuildConfigId}", isElectron, isElectron);
    }

    void ShowStatusTooltip(ElementReference elementReference) {
        if ((Info.StatusText?.Length ?? 0) < 70) {
            return;
        }
        var options = new TooltipOptions {
            Duration = 50000
        };
        TooltipService.Open(elementReference, _ => @<div class="status-tooltip">@Info.StatusText</div>, options);
    }

    private string GetDuration() {
        string duration = TimeSpan.FromSeconds(Math.Round(Info.Duration?.TotalSeconds ?? 0)).ToString("g");
        if (duration.StartsWith("0:")) {
            duration = duration.Substring(2);
        }
        return $"[{duration}]";
    }

    private IReadOnlyCollection<CommitterInfo> GetCommitters() {
        return Info?.Changes.GroupBy(x => x.Author)
            .OrderByDescending(x => x.Count())
            .Take(5)
            .Select(x => new CommitterInfo(x.Key, x.Count())).ToList()
               ?? (IReadOnlyCollection<CommitterInfo>)Array.Empty<CommitterInfo>();
    }

    private string GetAvatarSuspectStyles() {
        var percent = Math.Min(60 + Math.Round(30f * (Info.FailureSuspect.Confidence / 100f)), 100);
        return $"box-shadow: 0px 0px 6px 5px rgb(255 220 65 / {percent}%);";
        
    }

}
