@using Cimon.Data
@using Microsoft.AspNetCore.Components
@using System.Text.Encodings.Web
@using AngleSharp.Text
@using Cimon.Contracts
@using Cimon.Contracts.CI
@using Cimon.Data.BuildInformation
@using Cimon.Data.Common
@using Cimon.Users
@using Microsoft.Extensions.Options
@using System.Text
@inject NavigationManager NavigationManager
@inject TooltipService TooltipService
@inject AppInitialStateAccessor AppInitialStateAccessor

<div class="build-info-item @GetClasses()">
    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5em">
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenText TextStyle="TextStyle.H4">
                    <RadzenLink Path="@Info.Url" Target="blank" Style="color: white">
                        @Info.Name @(string.IsNullOrWhiteSpace(Info.Number) ? string.Empty : Info.Number)
                    </RadzenLink>
                    <RadzenButton class="discussion-button" Visible="@Info.IsNotOk()" Size="ButtonSize.Small" Variant="Variant.Text" Click="Discuss">
                        <RadzenBadge BadgeStyle="BadgeStyle.Warning" IsPill="@true" class="rz-ml-2">
                            <RadzenIcon Icon="chat" Style="color: var(--rz-white);margin-top: 3px;"/>
                            @Info.CommentsCount.ToString()
                        </RadzenBadge>
                    </RadzenButton>
                </RadzenText>
            </RadzenStack>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenText TextStyle="TextStyle.H6" Style="color: white" MouseEnter="@(ShowStatusTooltip)">
                @{
                    var durationInfo = GetDurationInfo();
                }
                <span title="@durationInfo.Full">@durationInfo.Small</span><span>@GetStatusInfo()</span>
            </RadzenText>
        </RadzenStack>
    </RadzenStack>
    @if (Info.Status == BuildStatus.Failed) {
        <div class="avatar-group">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Normal">
                @foreach (var committer in GetCommitters()) {
                    var user = committer.User;
                    var committerClasses = IsSuspect(user) ? " suspect" : string.Empty;
                    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Right"
                                 AlignItems="AlignItems.Center" Gap="0">
                        <div class="avatar committer @committerClasses">
                            <CimonAvatar UserName="@user.Name" Email="@user.Email?.ToLowerInvariant()"></CimonAvatar>
                            <div class="commits-count">
                                <p title="Commits count: @committer.CommitsCount">@committer.CommitsCount</p>
                                @if (IsSuspect(user)) {
                                    var confidence = Info.FailureSuspect?.Confidence ?? 0;
                                    var opacity = 30 + Math.Floor(Math.Min(100, 70 * confidence / 100f));
                                    <div style="opacity: @opacity%" title="Suspected in build failure with @confidence% confidence">
                                        <RadzenIcon Icon="local_fire_department"/>
                                    </div>
                                }
                            </div>
                        </div>
                        <RadzenText Text="@user.Name" Style="color: white"></RadzenText>
                    </RadzenStack>
                }
            </RadzenStack>
        </div>
    }
</div>
<style>
    .avatar-group > .rz-stack {
        overflow-x: clip;
    }
    .committer.suspect .commits-count {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .discussion-button {
        padding: 0;
        position: absolute;
    }
    .discussion-button:hover {
         background-color: transparent !important;
    }
    .discussion-button:not(:hover) .rz-badge{
        background-color: transparent;
    }
    .avatar {
        position: relative;
        border-radius: 32px;
    }
    .commits-count, .failure-author-confidence {
        color: white;
        position: absolute;
        width: 16px;
        text-align: center; 
        border-radius: 8px;
        line-height: 16px;
    }
    .commits-count {
       top: -4px;
       right: -10px;
       background-color: #e66060;
    }
    .commits-count p {
    margin-bottom: 0;
    }
    .status-tooltip{
        max-width: 400px;
        text-wrap: balance;
        line-break: anywhere;
    }
</style>

@code {

    record CommitterInfo(VcsUser User, int CommitsCount);

    [Parameter]
    public BuildInfo Info { get; set; } = null!;

    public AppClientType AppClientType { get; set; }

    protected override Task OnInitializedAsync() {
        AppClientType = AppInitialStateAccessor.State.ClientType;
        return base.OnInitializedAsync();
    }

    private string GetClasses() => Info.Status == BuildStatus.Failed ? "failed" : "";

    private void Discuss() {
        var isElectron = AppClientType == AppClientType.Electron;
        NavigationManager.NavigateTo($"/buildDiscussion/{Info.BuildConfigId}", isElectron, isElectron);
    }

    void ShowStatusTooltip(ElementReference elementReference) {
        if ((Info.StatusText?.Length ?? 0) < 70) {
            return;
        }
        var options = new TooltipOptions {
            Duration = 50000
        };
        TooltipService.Open(elementReference, _ => @<div class="status-tooltip">@Info.StatusText</div>, options);
    }

    private string GetDuration() {
        string duration = TimeSpan.FromSeconds(Math.Round(Info.Duration?.TotalSeconds ?? 0)).ToString("g");
        if (duration.StartsWith("0:")) {
            duration = duration.Substring(2);
        }
        return $"{duration}";
    }

    private IReadOnlyCollection<CommitterInfo> GetCommitters() {
        return Info?.Changes.GroupBy(x => x.Author)
            .OrderByDescending(x => x.Count())
            .Select(x => new CommitterInfo(x.Key, x.Count())).ToList()
               ?? (IReadOnlyCollection<CommitterInfo>)Array.Empty<CommitterInfo>();
    }

    private string GetStatusInfo() {
        return !string.IsNullOrWhiteSpace(Info.StatusText) ? $" | {Info.StatusText.Strip(70)}" : string.Empty;
    }

    private (string Small, string Full) GetDurationInfo() {
        var result = new StringBuilder();
        var startDate = Info.StartDate?.ToString("HH:mm") ?? "?";
        result.Append(startDate);
        result.Append("-");
        result.Append(Info.EndDate?.ToString("HH:mm") ?? "?");
        result.Append(" | ");
        var duration = GetDuration();
        result.Append(duration);
        return ($"{startDate} | {duration}", result.ToString());
    }

}

@code {

    private bool IsSuspect(VcsUser user) {
        return Info.FailureSuspect?.User.Name == user.Name;
    }

}