@namespace Cimon.Discussions
@page "/BuildStatus/{buildId?}"
@using System.Reactive.Linq
@inject BuildDiscussionStoreService DiscussionStoreService
@inject UserInfoService UserInfoService
@inherits ReactiveComponent

@if (_state != null) {
    <div class="container">
    <RadzenRow JustifyContent="JustifyContent.Center">
        <RadzenColumn Size="6">
            <RadzenCard class="status-item">
               <RadzenText Text="@_state.Status.ToString()"></RadzenText>
            </RadzenCard>
            @foreach (var comment in _state.Comments) {
                <RadzenCard class="comment-item">
                    <RadzenRow AlignItems="AlignItems.End">
                        <RadzenColumn Size="1">
                            <RadzenStack Orientation="Orientation.Vertical">
                                <RadzenGravatar Email="@UserInfoService.GetEmail(comment.Author)"></RadzenGravatar>
                            </RadzenStack>
                        </RadzenColumn>
                        <RadzenColumn>
                            <RadzenStack Orientation="Orientation.Vertical">
                                <p class="comment-content">
                                    <RadzenText TextStyle="TextStyle.H6" Text="@comment.Author"/>
                                    @((MarkupString)comment.Comment)
                                    <div class="comment-content-icon"></div>
                                </p>
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>
                    @if (comment.Mentions.Any()) {
                        <RadzenRow>
                            <p>
                                <strong>Mentioned Users:</strong>
                                @string.Join(", ", comment.Mentions)
                            </p>
                        </RadzenRow>
                    }
                </RadzenCard>
            }
            <RadzenCard class="comment-editor-block">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Stretch">
                    <div style="width: 100%">
                        <QuillEditor Class="comment-editor" @bind-Content="@_newComment.Comment"/>
                    </div>
                    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.End">
                        <RadzenButton Click="@AddComment" Icon="send" Size="ButtonSize.Large"/>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
    </div>
}
<style>
    .container{
       background-color: var(--rz-base-800);
       height: 100%;
       width: 100%;
       max-width: 100%;
       margin: 0;
       overflow: scroll;
    }
    .container div {
        position: relative;
    }
    .container::before {
        content: "";
        background-image: url("/img/tile.jpg");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.40;
        filter: blur(6px);
    }
    .comment-item, .status-item{
        margin-top: 1em;
    }
    .comment-item {
        background-color: transparent;
        box-shadow: none;
    }
    .comment-editor-block {
        margin-top: 1em;
    }
    .comment-editor {
        height: 100px;
        display: block;
    }
    .comment-content {
        background-color: white;
        border-radius: 1em 1em 1em 0;
        padding: 0.5em;
    }
    .comment-content-icon{
        border: 5px solid white;
        border-top: none;
        border-left: none;
        width: 1em;
        height: 1em;
        position: relative;
        left: -1.5em;
        bottom: -0.5em;
    }
    .comment-content-icon::after {
        content: '';
        background-color: #a2e7ff;
    }
</style>
@code {
    [Parameter]
    public string? BuildId { get; set; }
    
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }

    private BuildDiscussionService _discussionService;
    private BuildDiscussionState _state;
    private CommentData _newComment = new();

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        await DiscussionStoreService.OpenDiscussion(BuildId);
        DiscussionStoreService.GetDiscussionService(BuildId).Subscribe(this, () => _discussionService)
            .SelectMany(x => x.State).Subscribe(this, () => _state);
        await ClearComment();
    }

    private async Task ClearComment() {
        var authenticationState = await AuthenticationState;
        _newComment = new CommentData {
            Author = authenticationState.User.Identity.Name ?? "Guest"
        };
    }

    private async Task AddComment() {
        await _discussionService.AddComment(_newComment);
        await ClearComment();
        StateHasChanged();
    }

}